<!DOCTYPE html>
<html lang="ko" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    th:fragment="layout(title, content)">
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">base layout</title>
    <title>base layout</title>
    <th:block th:replace="~{layout/head :: head}"></th:block>
</head>
<body class="d-flex flex-column h-100">
    <th:block th:replace="~{layout/header :: header}"></th:block>
    <main class="container flex-shrink-0">
        <th:block th:replace="${content}"></th:block>
    </main>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <th:block th:replace="~{layout/footer :: footer}"></th:block>
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
</body>
</html>