<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer fragment</title>
</head>
<body>
    <th:block th:fragment="footer">
        <span class="text-muted">
            this is footer
        </span>
        <script th:src="|/resources/js/jquery-3.6.0.min.js|"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </th:block>
</body>
</html>