<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header fragment</title>
</head>
<body>
<th:block th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <th:block sec:authorize="isAnonymous()">
                    <button type="button" class="btn btn-outline-primary me-2" th:onclick="|location.href='/login'|">Login</button>
                    <button type="button" class="btn btn-primary" th:onclick="|location.href='/member/signup'|">Sign-up</button>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <button type="button" class="btn btn-secondary me-2" th:onclick="|location.href='/logout'|">Logout</button>
                </th:block>
            </div>
        </header>
    </div>
</th:block>
</body>
</html>